.edit-review-form-container {

    .review-body {

    }

    .review-button {

    }

    .fas.fa-times {
        font-size: 20px;
        padding-left: 5px;
    }

    .fas.fa-times:hover {
        cursor: pointer;
        text-shadow: 2px 2px 10px blue;
    }
}