.edit-review-form-container {

    .edit-review-body {
        padding: 12px;
        width: 500px;
        resize: none;
    }

    .edit-review-button {
        // width: 100%;
        font-family: 'Lato', sans-serif;
        background-color: rgb(64, 217, 172);
        color: white;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 16px;
        border: 3px solid transparent;
        margin-right: 15px;
    }

    .edit-review-button[type=submit]:hover {
        background-color: white;
        color: rgb(64, 217, 172);
        border: 3px solid rgb(64, 217, 172);
        cursor: pointer;
        transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
    }

    .fas.fa-times {
        font-size: 20px;
        padding-left: 5px;
    }

    .fas.fa-times:hover {
        cursor: pointer;
    }
}