.reviews-index-list {
    // margin-top: 150px;
    list-style: none;
}

.all-reviews {
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
}

.review-info {
    line-height: 35px;
}