.spot-show-information {
    margin-top: 20px;
    padding: 0px 15px;
    font-family: 'Lato', sans-serif;
    // object-fit: contain;
    .spot-show-pictures {
        display: flex;
        justify-content: space-evenly;
        // align-items: stretch;
        // object-fit: contain;
        .pic-slides {
            max-height: auto;
            max-width: auto;
        }
    }
    // .spot-show-booking-box {
    //     border: 1px solid black;
    //     width: 200px;
    //     display: flex;
    //     // position: -webkit-sticky;
    //     justify-content: flex-end;
    //     .spot-show-booking {
    //         position: sticky;
    //         top: 10px;
    //         height: 100px;
    //         z-index: 3;
    //         padding: 10px;
    //     }
    // }
}

img {
  max-width: 100%;
  height: auto;
}

.slider[style] {
    max-height: 600px !important;
}

.slider-list[style]{
    height: 600px !important;
}

.slide-visible[style]{
    height: 600px !important;  
}

.spot-show-description {
    padding: 0px 475px 0px 150px;
    // margin-left: 20px;
    .spot-show-name {
        font-size: 40px;
        .fas {
            color: rgb(66, 152, 247);
        }
    }
    .spot-show-recommend {
        padding-top: 10px;
        font-size: 12px;
        .fas {
            color: rgb(97, 218, 173);
        }
    
    }

    .spot-show-host-about {
        display: flex;
        justify-content: space-between;
        // margin-right: 300px; 
        border-top: 1px solid rgb(235,235,235);
        color: rgb(60, 60, 60);
        
        .spot-show-about, .spot-show-host {
            padding-top: 20px;
        }

        .spot-show-about {
            width: 400px;
        }
        
    }


}