.spot-show-information {
    margin-top: 20px;
    padding: 0px 15px;
    font-family: 'Lato', sans-serif;
    // object-fit: contain;
    .spot-show-pictures {
        display: flex;
        justify-content: space-evenly;
        // align-items: stretch;
        // object-fit: contain;
        .pic-slides {
            max-height: auto;
            max-width: auto;
        }
    }
    // .spot-show-booking-box {
    //     border: 1px solid black;
    //     width: 200px;
    //     display: flex;
    //     // position: -webkit-sticky;
    //     justify-content: flex-end;
    //     .spot-show-booking {
    //         position: sticky;
    //         top: 10px;
    //         height: 100px;
    //         z-index: 3;
    //         padding: 10px;
    //     }
    // }
}

img {
  max-width: 100%;
  height: auto;
}

.slider[style] {
    max-height: 600px !important;
}

.slider-list[style]{
    height: 600px !important;
}

.slide-visible[style]{
    height: 600px !important;  
}

.spot-show-parent-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    .spot-show-description {
        width: 66%;

        .spot-show-name {
            font-size: 40px;
            .fas {
                color: rgb(66, 152, 247);
            }
        }
        .spot-show-recommend {
            padding-top: 10px;
            font-size: 12px;
            .fas {
                color: rgb(97, 218, 173);
            }
        
        }

        .spot-show-host-about {
            display: flex;
            justify-content: space-between;
            // margin-right: 300px; 
            border-top: 1px solid rgb(235,235,235);
            color: rgb(60, 60, 60);
            
            .spot-show-about, .spot-show-host {
                padding-top: 20px;
            }

            .spot-show-about {
                width: 400px;
            }
            
        }

        .spot-photo-grid {
            border-bottom: 1px solid rgb(235,235,235);
        }

        .review-form-and-list {

        }


    }


    .booking-container {
        flex: 1;
        
        .spot-show-booking-box {

            position: sticky;
            top: 0px;
            margin-top: -60px;
            margin-left : 20px;
            border: 1px solid #ebebeb;
            box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.2);
            background-color: white;
            z-index: 2;
            width: 319px;

            .booking-price-per-night {
                padding: 13px 10px;

                .booking-price {
                    font-size: 20px;
                    font-weight: 900px;
                }
                
                .booking-per-night {
                    font-size: 15px;
                    color: rgb(191, 191, 191);
                }
            }

        }
    }
}


