.main-footer-container {
    // background-color: #41305C;
    // height: 364px;
    background-image: url(camping.jpg);
    height: 100%;
    width: 100%;

    .footer-mountain {
        background-image: url('https://in-tents-seed.s3-us-west-1.amazonaws.com/main_images/footer-mountain.svg');
        background-position: bottom center;
        background-repeat: repeat-x;
        z-index: 1;
        width: 100%;
        height: 200px;
        padding-top: 205px;
    }
}

.footer-app-and-text {
    display: flex;
    max-width: 1200px;
    // width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-top: 50px;

    .footer-app-image {
            height: 65px;
            width: 65px;
            // margin-right: 15px;
            // width: 20%;
        }
        
        .footer-text {
            // width: 80%;
            color: #ebebeb;
            font-family: 'Lato', sans-serif;
        }
}