.main-footer-container {
    background-color: #41305C;
    height: 480px;
    width: 100%;

    .footer-info {
        .footer-app-image {
            height: 65px;
            width: 65px;
            margin: 50px 0px 0px 160px;
        }
    }

    .footer-mountain {
        background-image: url('https://in-tents-seed.s3-us-west-1.amazonaws.com/main_images/footer-mountain.svg');
        background-position: bottom center;
        background-repeat: repeat-x;
        z-index: 1;
        width: 100%;
        height: 200px;
        padding-top: 365px;
    }
}