.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
// padding: 5px;
// background: whitesmoke;
// border: 1px solid black;
// box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.7);
// font-family: "Calibre", Helvetica, Arial, sans-serif;
  .signup-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
    padding: 13px;
    background: white;
    border: 1px solid white;
    box-shadow: 5px 5px 5px 5px rgba(211, 211, 211, 0.7);
    font-family: "Calibre", Helvetica, Arial, sans-serif;
  }
  .login-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    padding: 13px;
    background: white;
    border: 1px solid white;
    box-shadow: 5px 5px 5px 5px rgba(211, 211, 211, 0.7);
    font-family: "Calibre", Helvetica, Arial, sans-serif;
  }
}

.signup-header, .login-header {
  text-align: center;
  h4 {
    color: rgb(51, 51, 51);
    font-weight: bolder;
  }
  h6 {
    color: rgb(117, 117, 117);
  }
}
.signup-input, .login-input {
  border: 1px solid black;
  padding: 15px;
  width: 100%;
}
// .login-input {
//   border: 1px solid black;
//   padding: 15px;
//   width: 100%;
// }

.session-submit[type=submit] {
  background-color: rgb(97, 218, 173);
  color: white;
  width: 100%;
  padding: 15px;
  font-weight: bold;
}
.session-submit[type=submit]:hover {
  background-color: rgb(88, 198, 158);
}

// .signup-form-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   padding: 5px;
//   background: whitesmoke;
//   border: 1px solid black;
//   box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.7);
//   font-family: "Calibre", Helvetica, Arial, sans-serif;
// }

// .login-form {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   padding: 5px;
//   background: whitesmoke;
//   border: 1px solid black;
//   box-shadow: 5px 5px 5px rgba(211, 211, 211, 0.7);
//   font-family: "Calibre", Helvetica, Arial, sans-serif;
// }