
// .search-bar {
//     background-color: #F3F2EF;
//     border: 1px solid #F0F0EC;
//     border-radius: 38px;
//     width: 80%;
//     margin: auto;
//     display: flex;
//     box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;

//     input[type=search] {
//         margin: auto;
//         border: 1px solid #F0F0EC;
//         border-radius: 38px;
//         box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
//         height: 30px;
//     }

//     .search-button {
//         background-color: rgb(0, 197, 133);
//         cursor: pointer;
//         border-radius: 50%;
//         width: 58px;
//         height: 60px;
//         margin: auto;

//         .fa-search {
//             color: white;
//             margin: 11px 0px 0px 11px;
//         }
//     }
// }


.spots-index-list {
    padding: 40px 40px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    box-shadow: 0px 5px 5px -5px rgba(211, 211, 211, 0.7);
}

.site-additional-info {
    // width: 500px;
    margin: 10px auto;
    // margin-top: 10px;
    text-align: center;
    .main-image {
        height: 300px;
    }
}

.spot-pictures .slider[style]{
    height: 250px !important;
}

.spot-pictures .slider-list[style]{
    height: 250px !important;
}

.spot-pictures .slide-visible[style]{
    height: 250px !important;  
}

.spot-list-items {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    background: white;
    // border: 1px solid white;
    box-shadow: 3px 3px 5px 3px rgba(211, 211, 211, 0.7);
    // height: 400px;
    width: 350px;
    margin: 10px;
}

.spot-list-items:hover {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    transition: all .2s ease-in 0s;
}

.spot-pictures {
    height: 70%;
    width: 100%;
    display: block;
}

.spot-pictures img{
    object-fit: contain;
}

.pic-slides {
    // background-size: cover;
    // max-height: 100%;
    object-fit: fill;
    // width: 100%;
}

.spot-info {
    height: 20%;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    .spot-name-tent {
        display: flex;
        justify-content: space-between;
    }
    .spot-name {
        font-size: 15px;
        .fas {
            color: rgb(66, 152, 247);
        }
    }
    
    .spot-location {
        font-size: 12px;
        font-weight: lighter;
    }

    .extra-spot-info {
        display: flex;
        justify-content: space-between;
        .fas {
            color: rgb(97, 218, 173);
        }
    
        .spot-price {
            font-size: 15px;
        }

    }
}

.spot-info:hover {
    background-color: rgb(249, 249, 249);
    cursor: pointer;
}
