.spot-show-description-icons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    flex-wrap: wrap;
    color: rgb(60, 60, 60);
}

.show-campsite-details {
    border: 1px solid rgb(235, 235, 235);
    padding: 15px;
    height: 340px;
    width: 220px;
    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.2);

    .campsite-title {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        margin: 0 0 10px 4px;
    }
    
    .max-guest {
        margin-bottom: 10px;
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        .fas {
            margin-right: 5px;
        }
    }

    .parking {
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 15px;
        margin-bottom: 10px;

        .fas {
            margin-right: 5px;
            // font-weight: lighter;
        }
    }

    .ada-access {
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 15px;
        margin-bottom: 10px;

        .fab {
            margin-right: 5px;
        }
    }
}

.show-essentials-details {
    border: 1px solid rgb(235, 235, 235);
    padding: 15px;
    height: 340px;
    width: 220px;
    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.2);

    .essentials-title {
        font-size: 24px;
        margin: 0 0 10px 4px;
    }
    
    .campfire, .toilets, .pets, .pull-through, .hookups {
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 15px;
        margin-bottom: 10px;
    }

}

.show-amenities-details {
    border: 1px solid rgb(235, 235, 235);
    padding: 15px;
    height: 340px;
    width: 220px;
    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.2);

    .amenities-title {
        font-size: 24px;
        margin: 0 0 10px 4px;
    }

    .potable-water, .showers, .picnic-table, .bins {
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.show-campsite-details {
    .parking, .ada-access {
        .next-to-icon-text {
            margin-left: 10px;
            font-weight: 500;
            color: rgb(60, 60, 60);
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
        
        .next-to-icon-not-available-text {
            margin-left: 10px;
            font-weight: 500;
            color: rgb(191, 191, 191);
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
    }
}

.show-essentials-details {
    .campfire, .toilets, .pets, .pull-through, .hookups {
        .next-to-icon-text {
            margin-left: 10px;
            font-weight: 500;
            color: rgb(60, 60, 60);
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
        
        .next-to-icon-not-available-text {
            margin-left: 10px;
            font-weight: 500;
            color: rgb(191, 191, 191);
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
    }
}



.show-amenities-details {
    .potable-water, .showers, .picnic-table, .bins {
        .next-to-icon-text {
            margin-left: 10px;
            font-weight: 500;
            color: rgb(60, 60, 60);
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
        
        .next-to-icon-not-available-text {
            margin-left: 10px;
            font-weight: 500;
            color: rgb(191, 191, 191);
            font-size: 15px;
            font-family: 'Lato', sans-serif;
        }
    }
}
