.user-profile-background {
    background-image: image-url(show-profile);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.user-profile {

    display: flex;
    max-width: 1200px;
    margin: 100px auto;
    justify-content: center;
    
    
    .user-info {
        // position: fixed;
        width: 30%;
        // border: 1px solid rgb(80, 80, 80);
        // margin: auto 0px;
        margin-top: 17px;

        .user-name-and-pic {
            // border: 1px solid #ebebeb;
            text-align: center;
            width: 70%;
            // display: flex; 
            padding: 15px;
            // margin-left: 15px;
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
            height: 60%;
            background-color: rgba(235,235,235,0.4);
            

            .user-pic {
                border-radius: 50%;
                // margin: 0 4vw 0 12vw;
                // margin-left: 15px;
                width: 60px;
                height: 60px;
                background-size: cover;
                box-shadow: 1px 2px 6px 0px #24202057;
            }
            
            .user-name {
                margin-left: 12px;
                margin-top: 30px;
                font-weight: bold;
                font-size: 15px;
            }

            .user-info {
                margin-top: 20px;
                font-size: 12px;
                // margin-left: 15px;
                width: 170px;
                .fas {
                    margin-right: 5px;
                }
            }

        }
    }

    // .user-name-and-pic:hover {
    //     transition: all .2s ease-in 0s;
    // }

    .user-bookings-list {
        // overflow: scroll;
        // width: 70%;
        // border-left: 1px solid rgb(80, 80, 80);
        // margin: 0 auto;
        // list-style: none;
        // .booking-list-item {
        //     list-style: none;
        // }

        .list-bookings {
            padding: 0px;
        }


        .cancel-booking-button {
            margin: auto;
            font-family: 'Lato', sans-serif;
            background-color: #61daad;
            color: white;
            padding: 5px 0px;
            font-weight: bold;
            font-size: 15px;
            border: 2px solid transparent;
            width: 90px;
        }

        .cancel-booking-button:hover {
            background-color: white;
            color: rgb(97, 218, 173);
            border: 2px solid rgb(97, 218, 173);
            cursor: pointer;
            transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
            // border-radius: 5px;
            width: 90px;
        }
    }

}


.booking-list-and-cancel {
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin-left: 25px;
    padding: 15px 0;

    .booking-list {
        width: 70%;
        // border: 1px solid black;

    }
    
    .cancel-button {
        flex: 1;
        padding: 32px;
    }

    .trips {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
    }

}

.booking-to-spot-link {
    text-decoration: none;
}

.booking-to-spot-link:hover {
    transition: ease-in;
    color: rgb(97, 218, 173);
}

.all-bookings {
    list-style: none;
    // border-bottom: 1px solid #ebebeb;
    // border: 1px solid #ebebeb;    
    // box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
    background-color: rgba(235,235,235,0.4);
    margin-right: 25px;
    margin-bottom: 3px;

}