.test-container {
    color: lavender;
    background-image: url('https://i.imgur.com/c4jt321.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 900px;
    padding: 20px;
}